/* Header */
.header {
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  padding-top: 14px;
  padding-bottom: 14px;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.header__logo {
  max-width: 224px;
  max-height: 72px;
}


.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 71px;
}


.header__nav__item:not(:last-child) {
  margin-right: 85px;
}


.header__nav__item__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: #333333;
  transition: color .3s ease;
  cursor: pointer;
}


.header__nav__item__link:hover {
  border-bottom: solid 2px #FF9900;
}


.header__nav__item__link:focus {
  outline: none;
  border-bottom: solid 2px #FF9900;
}


.header__nav__item__link:active {
  border-bottom: solid 2px #E1670E;
  color: #E1670E;
}


.header__nav__btn {
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.5138' y='18.5495' width='8' height='2' transform='rotate(45 19.5138 18.5495)' fill='%23333333'/%3E%3Ccircle cx='11.5' cy='11.5' r='10.5' stroke='%23333333' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: color .3s ease;
}


.header__nav__btn:hover {
 background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.5138' y='18.5495' width='8' height='2' transform='rotate(45 19.5138 18.5495)' fill='rgba(255, 153, 0, 1)'/%3E%3Ccircle cx='11.5' cy='11.5' r='10.5' stroke='rgba(255, 153, 0, 1)' stroke-width='2'/%3E%3C/svg%3E%0A");
}


.header__nav__btn:focus {
 outline: none;
 background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.5138' y='18.5495' width='8' height='2' transform='rotate(45 19.5138 18.5495)' fill='rgba(255, 153, 0, 1)'/%3E%3Ccircle cx='11.5' cy='11.5' r='10.5' stroke='rgba(255, 153, 0, 1)' stroke-width='2'/%3E%3C/svg%3E%0A");
}


.header__nav__btn:active {
 outline: none;
 background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.5138' y='18.5495' width='8' height='2' transform='rotate(45 19.5138 18.5495)' fill='rgba(225, 103, 14, 1)'/%3E%3Ccircle cx='11.5' cy='11.5' r='10.5' stroke='rgba(225, 103, 14, 1)' stroke-width='2'/%3E%3C/svg%3E%0A");
}


.header__burger-btn {
  display: none;
}


@media(max-width: 1366px) {
  .header__container{
    max-width: none;
    padding-top: 26px;
    padding-bottom: 26px;
  }


  .header__logo {
    width: 150px;
    height: 48px;
  }


  .header__nav__list {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 7px;
    z-index: 20;
    top: 100px;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 400px;
    padding: 40px;
    transition: transform .2s ease;
    transform: translateX(-101%);
  }


  .header__burger-btn {
    display: inline-block;
    width: 30px;
    height: 23px;
    background-color: #FFFFFF;
    border: none;
    background-image: url("../img/burger.svg");
    background-repeat: no-repeat;
    transition: color .2s ease, background .2s ease-in-out;
  }


  .header__nav__list.is-active {
    transform: none;
  }


  .header__burger-btn:hover,
  .header__burger-btn:focus {
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='23' viewBox='0 0 30 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='3' fill='%23FF9900'/%3E%3Crect x='5' y='10' width='25' height='3' fill='%23FF9900'/%3E%3Crect x='12' y='20' width='18' height='3' fill='%23FF9900'/%3E%3C/svg%3E%0A");  }
}


.header__burger-btn:active {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='23' viewBox='0 0 30 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='3' fill='%23E1670E'/%3E%3Crect x='5' y='10' width='25' height='3' fill='%23E1670E'/%3E%3Crect x='12' y='20' width='18' height='3' fill='%23E1670E'/%3E%3C/svg%3E%0A");
}


@media(max-width: 768px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


@media(max-width:320px) {
  .header__container {
    flex-direction: row-reverse;
    padding-top: 7px;
    padding-bottom: 7px;
    max-height: 45px;
  }


  .header__nav__btn {
    display: none;
  }


  .header__logo {
    width: 97px;
    height: 31px;
    margin-right: 168px;
  }


  .header__burger-btn {
    width: 25px;
    height: 19px;
    background-image: url('../img/burger-320.svg');
  }
}
